
<div class="top-bar">
	<a routerLink="/first"><img src="../../assets/img/icon.png">
	<p>Back</p></a>
</div>


<div class="start">
	<div class="top-ul">
		<label class="label1"><input type="radio" name="tickets">Tickets</label>
		<label class="label2"><input type="radio" name="tickets">Sessions</label>
		<label><input type="radio" name="tickets">Payment</label>
	</div>


<div class="container" style="width: 70%;float: left;">
	<div class="in-container">
		<h1>Tickets</h1>
		<img class="" [src]="ImagePath" height="50px" width="50px" style="float: left;margin-right: 20px;">
		<p class="rush">In a rush?</p>
		<p class="reg">Register your tickets from now or after checking out your choice<span>Fill this out later</span></p>
	</div>
</div>


<section style="float: right; width: 20%;position: relative;margin-right: 8%;margin-bottom: 10%;">
	<div class="containers">
		<div>
			<h1>Order Summary</h1>

			<ul>
				<li>1x Free Ticket <span>$0.00</span></li>
				<li>2 Alumni VIP Ticket <span>$3,500.00</span></li>
			</ul>
			<p><a href="">Edit</a></p>
			<hr>
			<ul>
				<li>subtotal <span>$7,000.00</span></li>
				<li>Taxes <span>$289.42</span></li>
			</ul>
			<hr>
			<ul class="total">
				<li>Total <span>$7,289.42</span></li>
			</ul>
			<p class="have">Have a promo code?</p>

		</div>
	</div>

			<button type="button">Checkout</button>
</section>




<section class="accordion" style="position: relative;overflow: hidden;float: left; ">
  <input type="checkbox" name="collapse" id="handle1" checked="checked">
  <h2 class="handle">
    <label for="handle1">
        <img src="../../assets/img/Icons.png" style="float: right; padding-right: 2%;">
    </label>
  </h2>
  <div class="content">
    <h1 class="header-h1">Attendee 1 - Free Ticket</h1>
		<form>
			<input type="text" name="firstname" placeholder="First Name">
			<br>
			<input type="text" name="lastname" placeholder="Last Name">
			<br>
			<input type="text" name="email" placeholder="Email">
			<br>
			<p class="would">would you like to receive the branded connections and other e-communications from the US?</p><br>
			<input type="radio" value="yes" name="yes"><span>Yes</span><br>
			<input type="radio" value="no" name="yes"><span>No</span>
		</form>
  </div>
</section>
<section class="accordion" style="position: relative;overflow: hidden;">
  <input type="checkbox" name="collapse2" id="handle2">
  <h2 class="handle">
    <label for="handle2"><img src="../../assets/img/Icons.png" style="float: right;
  	padding-right: 2%;"></label>
  </h2>
  <div class="content">
    <h1 class="header-h1">Attendeed 2 - Alumni VIP ticket</h1>
		<form>
			<input type="text" name="firstname" placeholder="First Name">
			<br>
			<input type="text" name="lastname" placeholder="Last Name">
			<br>
			<input type="text" name="email" placeholder="Email">
			<br>
			<input type="text" name="jobtitle" placeholder="Job Title">
			<br>
			<input type="text" name="company" placeholder="Company">
			<br>
			<input type="text" name="country" placeholder="Country">
		</form>
  </div>
</section>
<section class="accordion" style="float: left;position: relative;overflow: hidden;">
  <input type="checkbox" name="collapse2" id="handle3">
  <h2 class="handle">
    <label for="handle3"><img src="../../assets/img/Icons.png" style="float: right;
  	padding-right: 2%;"></label>
  </h2>
  <div class="content">
    <h1 class="header-h1">Attendeed 3 - Alumni VIP ticket</h1>
		<form>
			<input type="text" name="firstname" placeholder="First Name">
			<br>
			<input type="text" name="lastname" placeholder="Last Name">
			<br>
			<input type="text" name="email" placeholder="Email">
			<br>
			<input type="text" name="jobtitle" placeholder="Job Title">
			<br>
			<input type="text" name="company" placeholder="Company">
			<br>
			<input type="text" name="country" placeholder="Country">
		</form>
	</div>
</section>
</div>