<div class="top-bar">
	<a routerLink="/first"><img src="../../assets/img/icon.png">
	<p>CU - Alumni weekend</p></a>
</div>

<section class="newg">
	
<div class="container">
	<div class="custom-stepper" style="margin-bottom: 50px">
        <span aria-label="Tickets" class="custom-step active"> </span>
        <span aria-label="Sessions" class="custom-step"> </span>
        <span style="float: right;" aria-label="Payments" class="custom-step"> </span>
      </div>
	<div class="in-container">
		<h1>Tickets</h1>
		<img class="" [src]="ImagePath" height="50px" width="50px" style="float: left;margin-right: 20px;">
		<p class="rush">In a rush?</p>
		<p class="reg">Register your tickets from now or after checking out your choice<span>Fill this out later</span></p>
	</div>
</div>

<section class="order-summary">
	<div class="containers">
		<div>
			<h1>Order Summary</h1>

			<ul>
					<li *ngIf="first">{{first}}x Free Ticket <span>$0.00</span></li>
				<span *ngFor="let item of posts">
					<li *ngIf="forth">{{forth}}x Alumni VIP Ticket <span>${{(forth * item.amount)}}</span></li>
				</span>
				<span *ngFor="let item of posts">
					<li *ngIf="fifth">{{fifth}}x Alumni Base Ticket waitlisted <span>${{(fifth * item.amount4)}}</span></li>
				</span>
				<span *ngFor="let item of posts">
					<li *ngIf="third">{{test}}x Donation <span>${{(test)}}</span></li>
				</span>
				<span *ngFor="let item of posts">
					<li *ngIf="third">{{third}}x Book: Good Strategy... <span>${{(third * item.amount3)}}</span></li>
				</span>
			</ul>
			<p><a href="">Edit</a></p>
			<hr *ngIf="forth || third">
			<ul>
				<span *ngFor="let item of posts">
					<li *ngIf="forth || third">subtotal <span>${{(forth * item.amount + third * item.amount3 || third * item.amount3 || item.amount * first).toFixed(2)}}</span></li>
				</span>
				<span *ngFor="let item of posts">
					<li *ngIf="forth || third">Taxes <span>${{item.taxes}}</span></li>
				</span>
			</ul>
			<hr>
			<ul class="total" *ngFor="let item of posts">
				<li>Total <span *ngIf="forth || third">${{(forth * item.amount + third * item.amount3 + item.taxes || third * item.amount3 + item.taxes || item.amount * first + item.taxes).toFixed(2)}}</span></li>
			</ul>
			<p class="have">Have a promo code?</p>
			<span class="promo-input">
                <input type="text" name="" placeholder="Promo Code"> <button type="button">Apply</button>
            </span>
		</div>
	</div>

			<button type="button" class="checkout">Checkout</button>
</section>



<form novalidate #userForm="ngForm" name="myform" action="#">
	<section class="accordion" style="position: relative;overflow: hidden;float: left; ">
		<input type="checkbox" name="collapse" id="handle1" checked="checked">
		<h2 class="handle">
			<label for="handle1">
				<img src="../../assets/img/Icons.png" style="float: right; padding-right: 2%;">
			</label>
		</h2>


 
		<div class="content">
			<h1 class="header-h1">Attendee 1 - Free Ticket</h1>
				
				<input type="text" 
				 name="firstname" 
				 [(ngModel)]="first.firstname" 
				 required
				 placeholder="First Name">
				<br>

				<input type="text" 
					name="lastname"  
					[(ngModel)]="first.lastname" 
					required
					placeholder="Last Name">
				<br>
				<input class="text" 
				type="text" 
				name="email" 
				[(ngModel)]="first.lastname" 
				required
				placeholder="Email">
				<br>
				<p class="would">would you like to receive the branded connections and other e-communications from the US?</p><br>
				<input type="radio" value="yes" name="question"><span class="yes">Yes</span><br>
				<input type="radio" value="no" name="question"><span class="no">No</span>

				

				
		</div>
	</section>
<section class="accordion" style="position: relative;overflow: hidden;">
  <input type="checkbox" name="collapse2" id="handle2">
  <h2 class="handle">
    <label for="handle2"><img src="../../assets/img/Icons.png" style="float: right;
  	padding-right: 2%;"></label>
  </h2>
  <div class="content">
    <h1 class="header-h1">Attendeed 2 - Alumni VIP ticket</h1>
		
			<input type="text" 
			name="firsstname" 
			[(ngModel)]="first.firsstname" 
			required
			placeholder="First Name">
			<br>
			<input type="text" name="lasstname" 
			[(ngModel)]="first.lasstname" 
			required 
			placeholder="Last Name">
			<br>
			<input class="text" type="text" 
			[(ngModel)]="first.emails" 
			required 
			name="emails" placeholder="Email">
			<br>
			<input class="text" type="text" 
			[(ngModel)]="first.jobtitle" 
			required
			name="jobtitle" placeholder="Job Title">
			<br>
			<input class="text" type="text" 
			[(ngModel)]="first.company" 
			required
			name="company" placeholder="Company">
			<br>
			<input class="text" type="text" 
			[(ngModel)]="first.country" 
			required
			name="country" placeholder="Country">
		
  </div>
</section>
<section class="accordion" style="float: left;position: relative;overflow: hidden;">
  <input type="checkbox" name="collapse2" id="handle3">
  <h2 class="handle">
    <label for="handle3"><img src="../../assets/img/Icons.png" style="float: right;
  	padding-right: 2%;"></label>
  </h2>
  <div class="content">
    <h1 class="header-h1">Attendeed 3 - Alumni VIP ticket</h1>
		
			<input type="text" 
			[(ngModel)]="first.firssstname" 
			required
			name="firssstname" placeholder="First Name">
			<br>
			<input type="text" 
			[(ngModel)]="first.lassstname" 
			required
			name="lassstname" placeholder="Last Name">
			<br>
			<input 
			[(ngModel)]="first.emailss" 
			required
			class="text" name="text" name="emailss" placeholder="Email">
			<br>
			<input class="text" 
			[(ngModel)]="first.jobtiitle" 
			required 
			name="text" name="jobtiitle" placeholder="Job Title">
			<br>
			<input 
			[(ngModel)]="first.compaany" 
			required
			class="text" name="text" name="compaany" placeholder="Company">
			<br>
			<input class="text" 
			[(ngModel)]="first.counntry" 
			required 
			name="text" name="counntry" placeholder="Country">
		
	</div>
</section>
</form>
</section>