
<div class="top-bar">
	<a href="#"><img src="../../assets/img/icon.png">
	<p>CU - Alumni Weekend</p></a>
</div>


<section class="start">






<form name="myForm" novalidate>
	<section class="in-container" style="float: left;">
		<div class="form-container form-group">
			<div class="contain top-contain">
				<h1>Free Ticket</h1>
				<p>Free ticket for anyone to make a valuable contribution towards our future online events programme. Thank you.</p>
				<p class="sales-red" *ngIf="!first">Sales end in 1 hour</p>

				<p class="free-p" style="float: left;margin: 0;margin-top: 1%">Free</p>
				<select 
					(change)="changeHandler($event)" 
					name="first"
					[(ngModel)]="first"
                >
                    <option value="">0</option>
					<option value="1">1</option>
					<option value="2">2</option>
				</select>
			</div>
            <div class="alert-down" *ngIf="first">
                <p>Only 2 tickets available. <span>
					<a id="btn-cancel" (click) = "toggleDisplay()" type="reset">join waitlist</a></span></p>
            </div>
			<hr><br>
		</div>

		<div class="form-container form-group" *ngIf = "isDisplay" >
			<div class="contain top-contain">
				<h1>Alumni Base Ticket</h1>
				<p>This livestream will broadcast via a private YouTube link that will be sent to ticket purchasers an hour prior to showtime.</p>
				<p class="sales-ccc">Sales end in 5 days</p>

				<span *ngFor="let item of posts">
                    <p class="vip-text" style="width: 10%;">${{item.amount4}}</p>
                </span>
				<select 
                (change)="changeHandler5($event)" 
                name="fifth"
				[(ngModel)]="fifth"
                >
                    <option value="">0</option>
					<option value="1">1</option>
					<option value="2">2</option>
				</select>
			</div>
            <div class="alert-down" *ngIf="fifth">
                <p>1 Ticket Added to cart. Want to join the waitlist for 2 tickets? <span>join waitlist</span></p>
            </div>
			<hr><br>
		</div>

		<div class="form-container">
			<div class="contain">
				<h1>Alumni VIP Ticket</h1>
				<p>This livestream will broadcast via a private YouTube link that will be sent to ticket purchasers an hour prior to showtime</p>
				<p class="sales-ccc">Sales end in 5 days</p>

                <span *ngFor="let item of posts">
                    <p style="width: 10%;" class="vip-text">${{item.amount}}</p>
                </span>
				<span>
                    <select 
						name="forth"
						[(ngModel)]="forth"
						(change)="changeHandler2($event)" 
					  >
                        <option value="">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
				    </select>
                </span>
			</div>
            <div class="alert-down" *ngIf="isDisplay">
                <p>2 Tickets waitlisted. 
					<a id="btn-cancel" (click) = "toggleDisplay()" type="reset">Cancel</a></p>
            </div>
			<hr><br>
		</div>

		<div class="form-container">
			<div class="contain">
				<h1>Donate</h1>
				<p>Access to arts is vital. Pay what you can.</p>
				<p>I want to donate</p>
                <span class="donate-input">
					<input 
						(click)="myFunc($event)" 
						name="test" 
						type="button" 
						value="50" 
						width="10px"/>
					<input 
						type="button" 
						(click)="myFunc($event)" 
						value="100" 
						width="10px"/>
					<input type="button" 
						(click)="myFunc($event)" 
						value="200" 
						width="10px"/>
					<input type="button" 
						(click)="myFunc($event)" 
						value="500" 
						width="10px"/>
                </span>
				<label>$</label>
				<input class="donate" (click)="myFunc($event)" type="text" name="input" placeholder="Enter amount">
				
			</div>
			<hr>
		</div>

		<div class="form-container">
			<div class="contain">
				<img class="image" src="../../assets/img/image-2.png" alt="image" width="80px" style="float: left;margin-right: 20px;">
				<h4>Book: Good Strategy - Bad Strategy</h4>
				<p>Learn from the experts of business process management</p>
                <span *ngFor="let item of posts" class="donate-text">
                    <p style="width: 10%;float: left;margin: 0;margin-top: 1%">${{item.amount3}}</p>
                </span>
				<span>
                    <select 
                    name="third"
					[(ngModel)]="third"
					(change)="changeHandler3($event)">
                        <option value="">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
			    	</select>
                </span>
			</div>
		</div>
	</section>


	<!-- <app-order-summary></app-order-summary> -->

	<section class="order-summary">
	<div class="containers">
		<div>
			<h1>Order Summary</h1>
			<ul>
				<li *ngIf="first">{{selectedAmount}}x Free Ticket <span>$0.00</span></li>
				<span *ngFor="let item of posts">
                    <li *ngIf="forth">{{selectedAmount2}}x Alumni VIP Ticket <span>${{(selectedAmount2 * item.amount)}}</span></li>
                </span>
				<span *ngFor="let item of posts">
                    <li *ngIf="fifth">{{selectedAmount5}}x Alumni Base Ticket <span>${{(selectedAmount5 * item.amount4)}}</span></li>
                </span>
				<span *ngFor="let item of posts">
                    <li style="color: #ccc" class="base-ticket" *ngIf="isDisplay">2x Alumni Base Ticket waitlisted <span>${{(item.amount2)}}</span></li>
                </span>
            </ul>
            <ul>
				<span *ngFor="let item of posts">
                    <li>Donation <span>${{selectedInput}}</span></li>
                </span>
            </ul>
            <ul>
				<span *ngFor="let item of posts">
                    <li *ngIf="third">{{selectedAmount3}} Book: Good Strategy... <span>${{(selectedAmount3 * item.amount3)}}</span></li>
                </span>
            </ul>
			<hr>
			<ul>
                <span *ngFor="let item of posts">
                    <li>Subtotal <span>${{(selectedInput / 2 * 2 + selectedAmount3 * item.amount3 + item.amount * selectedAmount2).toFixed(2)}}</span></li>
				</span>
				<span *ngFor="let item of posts">
                    <li *ngIf="selectedAmount2 || selectedAmount3 || selectedInput">Taxes <span>${{item.taxes}}</span></li>
                </span>
			</ul>
			<hr>
			<ul class="total" *ngFor="let item of posts">
				<li>Total <span *ngIf="selectedAmount2 || selectedAmount3 || selectedInput">${{(selectedInput / 2 * 2 + selectedAmount3 * item.amount3 + item.amount * selectedAmount2 + item.taxes).toFixed(2)}}</span></li>
			</ul>
			<p id="demo" class="promo" onclick="myFunction()">
            	<a href="#">Have a promo code?</a>
            </p>
            <span class="promo-input">
                <input type="text" name="" placeholder="Promo Code"> <button type="button">Apply</button>
            </span>
		</div>
	</div>
</section>

<a rouerLinkActive="active" [routerLink]="['/second']">
	<button type="button" 
	class="checkout">Checkout</button>
</a>


</form>