<section style="width: 20%;float: left;">
	<div class="containers">
		<div>
			<h1>Order Summary</h1>

			<ul>
				<li>1x Free Ticket <span>$0.00</span></li>
				<li>2 Alumni VIP Ticket <span>$3,500.00</span></li>
			</ul>
			<hr>
			<ul>
				<li>subtotal <span>$7,000.00</span></li>
				<li>Taxes <span>$289.42</span></li>
			</ul>
			<hr>
			<ul class="total">
				<li>Total <span>$7,289.42</span></li>
			</ul>
			<p id="demo" class="" onclick="myFunction()"><a href="#">Have a promo code?</a></p>
			<input type="text" name="promo" placeholder="Promo Code"> <button type="button">Apply</button>
		</div>
	</div>
</section>

<button type="submit" href="burron.html" class="checkout">Checkout</button>